.skip a{
     position: absolute;
     top: -65px;
     overflow: hidden;
}

.skip a:focus{
     position: static;
     top: 25px;
     border: 3px solid rgb(87, 111, 242);
     border-radius: 5px;
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
  color: #00274C;
}

main a{
  color: #005eff;
  text-decoration: none;
}

main a:hover{
  text-decoration: underline;
  color: #00274C;
  background-color: #FFCB05;
}

body{
  margin: 0;
}

h1{
  text-align: left;
  background-color: #FFCB05;
  color: #00274C;
  padding: 10px;
  margin: 0;
}

main{
  margin: 10px;
}

nav{
  background-color: #00274C;
  text-align: left;
}

header img{
  height: auto;
  margin: 0 auto;
  width: 95%;
  padding: 5px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

nav li{
  flex: 1;
}

nav a{
  color: white;
  text-decoration: none;
  /* width: 100%; */
  padding: 12px 16px;
  display: block;
  text-align: center;
}

nav a:hover{
  background-color: #FFCB05;
  color: #00274C;
}

nav a[aria-current="page"],
nav a.active {
  background-color: #FFCB05;
  color: #00274C;
}

/* nav li{
  float: left;
} */

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.intro{
  grid-column: 1 / -1;
  grid-row: 1;
}

.intro iframe{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 315px;
  border-radius: 10px;
}

.whyuse{
  grid-column: 1 / -1;
  grid-row: 2;
}

.starthere{
  grid-column: 1 / -1;
  grid-row: 3;
}

.starthere img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.contact{
  grid-column: 1 / -1;
  grid-row: 4;
}

.contact a{
  text-decoration: underline;
}

.resume-intro{
  grid-column: 1 / -1;
  grid-row: 1;
}

.resume-intro p a {
  text-decoration: underline;
}

.resume-intro img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.resume-steps{
  grid-column: 1 / -1;
  grid-row: 2;
}

.resume-dos-donts{
  grid-column: 1 / -1;
  grid-row: 3;
}

.resume-dos-donts img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.resume-resources{
  grid-column: 1 / -1;
  grid-row: 4;
}

.resume-resources p a {
  text-decoration: underline;
}

.resume-faq{
  grid-column: 1 / -1;
  grid-row: 5;
}

.networking-intro{
  grid-column: 1 / -1;
  grid-row: 1;
}

.networking-steps{
  grid-column: 1 / -1;
  grid-row: 2;
}

.networking-steps img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.networking-tiara{
  grid-column: 1 / -1;
  grid-row: 3;
}

.networking-resources{
  grid-column: 1 / -1;
  grid-row: 4;
}

.networking-faq{
  grid-column: 1 / -1;
  grid-row: 5;
}

/* .networking-contact{
  grid-column: 1 / -1;
  grid-row: 6;
} */

/* .networking-contact a{
  color: #9500ff;
  text-decoration: underline;
} */

.interview-intro{
  grid-column: 1 / -1;
  grid-row: 1;
}

.interview-prepare{
  grid-column: 1 / -1;
  grid-row: 2;
}

.interview-prepare img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.interview-mock{
  grid-column: 1 / -1;
  grid-row: 3;
}

.interview-resources{
  grid-column: 1 / -1;
  grid-row: 4;
}

.interview-resources p a {
  text-decoration: underline;
}

.interview-faq{
  grid-column: 1 / -1;
  grid-row: 5;
}

.error{
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: left;
}

.error img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.error p{
  font-size: large;
  font-weight: bold;
  color: #00274C;
}

/* .interview-contact{
  grid-column: 1 / -1;
  grid-row: 6;
} */

/* .interview-contact a{
  color: #9500ff;
  text-decoration: underline;
} */

footer{
  background-color: #00274C;
  color: white;
  padding: 30px;
  text-align: center;
  margin: 0;
}

footer a{
  color: white;
}

@media (min-width: 768px) {
  .container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .intro iframe{
    width: 100%;
    height: 484px;
  }
}

@media (min-width: 1024px) {
  .container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding-right: 48px;
    padding-left: 48px;
  }
  .intro iframe{
    width: 100%;
    height: 678px;
  }
}


